<header class="l-global_header">
    {{ page.header }}
</header>

<main class="l-main">
    <section class="l-section">
        {{ page.content }}
    </section>
    <aside class="l-sidebar">
        {{ page.sidebar }}
    </aside>
</main>

<footer class="l-global_footer">
    {{ page.footer }}
</footer>

